version: "3.3"

##############################################################################
#                             ePAS Service                                   #
# Configurazione per l'avvio di ePAS Service collegandosi ad un database di  #
# ePAS esistente                                                             #
##############################################################################

services:
  epas-service:
    image: ghcr.io/consiglionazionaledellericerche/epas-service:latest
    container_name: epas-service
    ports:
      - 8080:8080
    environment:
      - spring.datasource.url=jdbc:postgresql://${DB_HOST}:${DB_PORT:-5432}/${DB_NAME}
      - spring.datasource.username=${DB_USER}
      - spring.datasource.password=${DB_PASS}
      - spring.security.oauth2.resourceserver.jwt.issuer-uri=${OAUTH2_JWT_ISSUER_URI}
      - epas.security.oauth2.jwtfield=${OAUTH2_JWT_FIELD}
      - epas.security.oauth2.userAuthIdentifier=${OAUTH2_USER_AUTH_IDENTIFIER}

